name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  golangci:
    name: Build, Lint, Vet, Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      
      # See https://github.com/actions/setup-go
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
          check-latest: true
          cache: true
      
      - name: Version
        run: go version
      
      # See https://github.com/golangci/golangci-lint-action
      - name: Lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          # Optional: golangci-lint command line arguments.
          # args: --verbose

      - name: Build
        run: go build -v ./...
      
      - name: Vet
        run: go vet ./...
      
      - name: Test
        run: go test -race -covermode=atomic -coverprofile=coverage.out ./...
              
      # See https://go.dev/blog/cover
      - name: Func Coverage
        run: go tool cover -func=coverage.out

      # See https://github.com/codecov/codecov-action
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          fail_ci_if_error: true
